<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <meta charset="UTF-8">
<!--    <title th:text="${action}"></title>-->
    <style>
        .center {
            padding: 0px 30%;
        }
    </style>
    <div th:replace="/fragments/layout :: headerfiles"></div>
</head>
<body class="container">
    <nav th:replace="fragments/layout :: navbar(object='object')"></nav>
    <div class="center">
    <form class="well form-horizontal" th:action="@{/discount/create-edit(action=${action})}" method="post" th:object="${discount}" name="discount">
        <!-- Form Name -->
        <h2>Form</h2>

            <!-- Text input-->
            <div class="form-group">
                <input th:field="*{id}" type="hidden">
            </div>

            <div class="form-group">
                <label class="col-md-8 control-label">Title</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input  th:field="*{title}" placeholder="Title" class="form-control"  type="text">
                    </div>
                        <div  th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  style="color: red"></div>
                </div>
            </div>

<!--          Start  Date-->
            <div class="form-group">
                <label class="col-md-8 control-label">Date Start: </label>
                <div id="datepicker-start" class="input-group date" data-date-format="dd-mm-yyyy">
                    <input class="form-control"  readonly="" type="text" th:field="*{startDate}">
                    <div class="input-group-addon">
                    </div>
                </div>
            <!--          End  Date-->
            <div class="form-group">
                <label class="col-md-8 control-label">Date End: </label>
                <div id="datepicker-end" class="input-group date" data-date-format="dd-mm-yyyy">
                <input class="form-control"  readonly="" type="text" th:field="*{endDate}">
                <div class="input-group-addon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 control-label">Level</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{level}" placeholder="Level must > 10000" class="form-control"  type="number">
                    </div>
                </div>
                                <div  th:if="${#fields.hasErrors('level')}" th:errors="*{level}" style="color: red">
                                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 control-label">Description</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <textarea  th:field="*{description}" placeholder="Description" class="form-control"  type="text"></textarea>
                    </div>
                </div>
                <div  th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                      style="color: red">
                </div>
            </div>


            <!-- Button -->
            <div>
                <label class="col-md-8 control-label"></label>
                <div class="col-md-8"><br>
                    <button type="submit" class="btn btn-warning" >SUBMIT</button>
                    <a th:href="@{/discount/}" class="btn btn-primary">BACK</a>

                </div>

    </form>
    </div>
    <div th:insert="fragments/layout :: scriptfiles"></div>
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready((e) => {
            $(function () {
                $("#datepicker-start").datepicker({
                    autoclose: true,
                    todayHighlight: true
                }).datepicker('update', new Date());
                $("#datepicker-end").datepicker({
                    autoclose: true,
                    todayHighlight: true
                }).datepicker('update', new Date());
            });
        });
    </script>
</body>
</html>