<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/layout :: headerfiles"></div>
    <meta charset="UTF-8">
    <title>List Discount</title>
</head>
<body id="list" class="container">
<nav th:replace="fragments/layout :: navbar(object='discount')"></nav>
<a class="btn btn-primary" th:href="@{/discount/{action}(action='create')}">Add Discount</a>
<table id = "discount" class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Stt</th>
        <th scope="col">Title</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Level</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="discount,rowStat : ${discounts}">
        <td th:text="${rowStat.index + 1}" scope="row"></td>
        <td th:text="${discount.title}"></td>
        <td th:text="${discount.startDate}"></td>
        <td th:text="${discount.endDate}"></td>
        <td th:text="${discount.level}"></td>
        <td th:text="${discount.description}"></td>
        <td>
            <a th:href="@{/discount/edit(id=${discount.id})}" class="btn btn-primary">Edit</a>
            <!--                <a th:href="@{/customer/delete(id=${customer.id})}" class="btn btn-primary">Delete</a>-->
            <!--                <a th:href="@{/customer/view(id=${customer.id})}" class="btn btn-primary">View</a>-->
            <!--                <button th:value="${customer.id}" class="btn btn-primary customer-edit">Edit</button>-->
            <button th:value="${discount.id}" class="btn btn-primary delete" onclick="deleteDiscount(this.value)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Body</p>
            </div>
        </div>
    </div>
</div>

<div th:insert="/fragments/layout :: scriptfiles"></div>
<script>
    function deleteDiscount(id){
        $.ajax({
            type:"GET",
            url : "/discount/delete",
            data : {
                id : id,
            },
            dataType: "html",
            success : (data) => {
                $(".modal-body").html(data);
                $("#modelId").modal('show');
            }
        })
    };
    $(document).ready((e) => {
        $("#search-button").click(() => {
            let object = $("#object").val();
            $.ajax({
                type:"GET",
                url: '/'+object+'/',
                data : {
                    search : $("#search").val(),
                },
                success : (data) => {
                    $("#list").html(data)
                }
            })
        })
    });
</script>
</body>
</html>