<h2 class="text-center">Create Product</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Name
      <input type="text" class="form-control" formControlName="name">
    </label>
  </div>
  <ng-container *ngFor="let valid of validation_messages.name">
    <p class="text-danger" *ngIf="createForm.get('name').hasError(valid.type)
    && (createForm.get('name').dirty
    && createForm.get('name').touched)">
    {{valid.message}}
  </p>
  </ng-container>

  <div>
    <div class="form-group row">
      <label class="col">
        Price
        <input type="text" class="form-control" formControlName="price">
      </label>
    </div>
    <!-- <div class="alert alert-danger" role="alert" *ngIf="createForm.get('price').invalid && createForm.get('price').touched">
    </div> -->
  </div>
  <button class="btn btn-info" type="submit" [disabled]='createForm.invalid'>Submit</button>
</form>

