<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Or Add</title>
</head>
<body>
    <div>
        <form th:action="@{/customer/{action}(action=${action})}" th:method="POST" th:object="${customer}" novalidate="novalidate">
            <div th:if="${action == 'add'}">
                <label>ID</label>
                <input type="number" th:field="*{id}"/>
            </div>
            <div th:unless="${action == 'edit'}">  <input type="hidden" th:field="*{id}"/></div>
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Gender</label>
                <select th:field="*{gender}" th:value="${genders}">
                    <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
                </select>
            </div>
            <div>
                <label>Product Use</label>
                <input type="checkbox" th:field="*{productUse}" th:each="product : ${products}" th:value="${product}" th:text="${product}"/>
            </div>
            <input type="submit" value="Modify"/>
        </form>
    </div>
</body>
</html>