<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: headerfiles"></div>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
    <nav th:replace="fragments/layout :: navbar(object='customer')"></nav>
    <a th:href="@{/customer/{action}(action='create')}">Add Customer</a>
    <table id = "products">
        <thead>
        <tr>
            <th>Stt</th>
            <th>Type Customer</th>
            <th>Name Customer</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Id Card</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer,rowStat : ${customers}">
            <td th:text="${rowStat.index + 1}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>

            <td><a th:href="@{/customer/{action}(action='edit',id=${customer.id})}">Edit</a></td>
            <td><a th:href="@{/customer/delete(id=${customer.id})}">Delete</a></td>
            <td><a th:href="@{/customer/view(id=${customer.id})}">View</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
    </div>
    <div th:insert="fragments/layout :: scriptfiles"></div>
</body>
</html>